body {
	background: fixed url('../img/background.jpg');
	background-size: cover;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#middle {
	width: 500px;
	height: 70%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#content {
	padding: 10px;
	background: url('../img/op_bg.png');
	border: 1px solid #6d6d6d;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 25px #000;
	   -moz-box-shadow: 0px 0px 25px #000;
	     -o-box-shadow: 0px 0px 25px #000;
	        box-shadow: 0px 0px 25px #000;
}

#bottom {
	padding: 40px;
}

#info {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	height: 20px;
	line-height: 20px;
	background-color: #222;
	border: 1px solid #444;
	border-top: 0px;
	border-right: 0px;
	box-shadow: 0px 0px 10px #444;
}

#info a {
	text-decoration: underline;
}

#info a:hover {
	text-decoration: none;
}

#info span, #info a {
	color: #777;
	font-size: 12px;
	font-weight: bold;
}

#info span {
	padding: 0 3px 0 3px;
}

#overlay {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    display: none;
}

#url-menu {
	display: none;
	position: absolute;
	z-index: 2;
	top: 20%;
	left: 0; right: 0;
	margin: auto;
	width: 460px;
	padding: 10px;
	background: url('../img/op_bg.png');
	border: 1px solid #6d6d6d;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 25px #000;
	   -moz-box-shadow: 0px 0px 25px #000;
	     -o-box-shadow: 0px 0px 25px #000;
	        box-shadow: 0px 0px 25px #000;
}

#url-menu textarea {
	width: 100%;
	height: 150px;
	padding: 3px;
	outline: none;
	color: #bbb;
	resize: none;
	word-wrap: normal;
	background: #3a3a3a;
	border: 1px solid #202020;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	     -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#url-menu h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	color: #111;
}

#file-input {
	display: none;
}

#file-list {
	padding: 0px 2px 0 2px;
}

.file-item {
	padding-top: 25px;
}

.file-item p {
	margin: 0;
	text-align: center;
}

.file-item img {
	max-width: 420px;
}

.file-item input {
	width: 220px;
	padding: 3px;
	outline: none;
	color: #bbb;
	background: #3a3a3a;
	border: 1px solid #202020;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	     -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.file-links h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	color: #111;
}

.file-links .row {
	padding-top: 3px;
}

.progress {
	display: none;
	padding: 14px 2px 0 2px;
}

.file-progress {
	display: inline-block;
	height: 20px;
	width: 100%;
	border: 1px solid #202020;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	     -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.file-progress-percent {
	position: absolute;
	left: 48%;
	margin-top: -20px;
	line-height: 22px;
	height: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 1px #000;
	color: #bbb;
}

.file-progress-bar {
	height: 20px;
	width: 20%;
	background: #4a4a4a;
	border-radius: 1px;
}

@media only screen and (max-width: 520px) {
	#middle {
		width: 100%;
		min-width: 270px;
	}
	#url-menu {
		width: 100%;
		min-width: 270px;
	}
	.file-item img {
		width: 100%;
	}
}

@media only screen and (max-width: 312px) {
	button.btn {
		font-size: 11px;
	}
}

@media only screen and (max-width: 500px) {
	.row div {
		text-align: center;
	}
	.row .pull-left, .row .pull-right {
		float: none;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear {
	clear: both;
}

.btn-list {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0 0 30px;
	width: 100%;
}

.btn {
	display: block;
	padding: 5px 12px;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px #111;
	color: #bbb;
	outline: none;
	border: 1px solid #202020;
	border-radius: 3px;
	background-color: #3a3a3a;
	background: -webkit-linear-gradient(top, #6a6a6a 3%, #5a5a5a 4%, #3a3a3a 100%);
	background:    -moz-linear-gradient(top, #6a6a6a 3%, #5a5a5a 4%, #3a3a3a 100%);
	background:     -ms-linear-gradient(top, #6a6a6a 3%, #5a5a5a 4%, #3a3a3a 100%);
	background:      -o-linear-gradient(top, #6a6a6a 3%, #5a5a5a 4%, #3a3a3a 100%);
	background:         linear-gradient(top, #6a6a6a 3%, #5a5a5a 4%, #3a3a3a 100%);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	     -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
} 

.btn:hover {
	color: #eee;
	background-color: #3b3b3b;
	background: -webkit-linear-gradient(top, #666 3%, #555 4%, #333 100%);
	background:    -moz-linear-gradient(top, #666 3%, #555 4%, #333 100%);
	background:     -ms-linear-gradient(top, #666 3%, #555 4%, #333 100%);
	background:      -o-linear-gradient(top, #666 3%, #555 4%, #333 100%);
	background:         linear-gradient(top, #666 3%, #555 4%, #333 100%);
}

.btn:active, .btn.active {
	color: #eee;
	padding: 6px 12px 4px;
	background-color: #222;
	background: -webkit-linear-gradient(top, #212121 3%, #252525 4%, #222 100%);
	background:    -moz-linear-gradient(top, #212121 3%, #252525 4%, #222 100%);
	background:     -ms-linear-gradient(top, #212121 3%, #252525 4%, #222 100%);
	background:      -o-linear-gradient(top, #212121 3%, #252525 4%, #222 100%);
	background:         linear-gradient(top, #212121 3%, #252525 4%, #222 100%);
	-webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
	   -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
	     -o-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
	        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}
