body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	background: black;
	color: black;
	background:#000000 url('images/background.jpg') repeat fixed center;
}
a {
	font-size: 12px;
	color: #DDDDDD;
	text-decoration: none;
}
a:link {/*для простых ссылок*/
	color: #DDDDDD;
}
a:hover { /*при наведении курсора мыши на ссылку*/
	text-decoration: underline;
}
a:active { /*при клике*/
	text-decoration: underline;
	outline: none;/*для файрфокс*/
}
a:focus {
	outline: none;/*для файрфокс*/
}
a:visited {/*для посещённых ссылок*/
	color: #DDDDDD;
}
/* ---------------------------------
               CONTENT
 -----------------------------------*/
#content {
	width:100%;
	border:solid 1px #888;
	border-spacing:0px;
	padding:10px 10px 10px 10px;
	background-image:url('images/cellpic.png');
	font-size:12px;
	color: #DDD;
}
#content form {
	text-align:center;
}
#content input[type='file'] {
	margin-left:50px;
}
.image_load {
	width:100%;
	text-align:center;
}
.image_load table {
	width:90%;
	margin:0 auto;
}
.image_load input[type='text'] {
	font-size: 12px;
	color:#FFFFFF;
	background-color:#555555;
	border:1px solid #333333;
	width:100%;
}
#footer {
	float:right;
	margin-top:10px;
	width:100px;
	border:solid 1px #888;
	text-align:center;
	font-weight:bold;
	padding:5px;
	background-image:url('images/cellpic.png');
}
/* --------------------------------- */


#content, #footer {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

/*---------------------------------- 
                 Other
 -----------------------------------*/
.text_a {
	color:#FFFFFF;
	font-weight:bold;
	font-size:11px;
	font-family:Verdana;
}
.text_b {
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	font-size:11px;
	font-family:Verdana;
}
.textbox {
	font-size: 12px;
	color:#FFFFFF;
	background-color:#555555;
	border:1px solid #333333;
}
input[type='text'],[type='password']  {
	width:100%;
}
input[type='submit'] {
	font-size:12px;
	height:17px;
	line-height:1px;
	color:#DDD;
	width:100%;
	border:solid 1px #888;
	background-color:#404040;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
input[type='submit']:hover {
	background-image:url('images/cellpic.png');
	cursor:pointer;
}
input[type='file'] {
	font-size:12px;
	color:#DDD;
	background-color:#404040;
	border:1px solid #888;
	width:350px;
}

/* ----------------------------------- 
                 Table                
 ------------------------------------- */
.g_table {
	width:90%;
	text-align:center;
	border-collapse:collapse;
}
.g_table td{
	border: 1px solid #888;
}
.g_table tr:hover{
	cursor: default;
}
.g_table thead{
	background-color: #888;
}
.g_table_tr:hover {
	background-color: #666;
}
/* ----------------------------------- */